.ContainerForm {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

.FormLogin {
    height: 400px;
    background-color: #c7c4c457;
    text-align: center;
    padding: 20px;
}
.FormImg{
    margin: 30px;
}
.FormLink{
    text-decoration: none;
    color: rgb(35, 35, 238);
}
.ConatinerLinkBtn{
    margin-top: 30px;
}