.talent-pool {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  width: 100%;
  max-width: 1280px;
}

.DescriptionText {
  font-size: 20px;
  color: rgba(0, 0, 0, 0.8);
  margin: 0;
}

.container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 50px;
  flex-wrap: wrap;
  margin-top: 30px;
  width: 100%;
}

.cardsContent {
  width: 100%;
  max-width: 1280px;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
  overflow: auto;
}

@media (max-width: 1278px) {
  .cardsContent {
    justify-content: center;
    align-items: center;
  }
}

.card {
  width: 100%;
  max-width: 540px;
  padding: 30px;
}

.card h2 {
  font-size: 1.5rem;
  font-weight: 400;
  margin: 0;
}

.informacoes {
  display: flex;
  /* justify-content: space-between; */
  /* align-items: center; */
  flex-wrap: wrap;
  margin-top: 10px;
  gap: 10px;
  margin-bottom: 20px;
}

.descriptionUser {
  margin: 0;
  padding-bottom: 15px;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5;
  color: rgba(0, 0, 0, 0.8);
}
