.stats-bar,
.footer {
  justify-content: space-between;
}

.title {
  font-size: 55px;
  font-weight: bold;
  margin: 0;
}

.subtitle {
  font-size: 24px;
  color: #000000cc;
  font-weight: normal;
}

@media (max-width: 1600px) {
  .headerImage img {
    transition: all 0.5s ease;
    opacity: 0.7;
  }
}

@media (max-width: 1366px) {
  .headerImage img {
    transition: all 0.5s ease;
    opacity: 0.3;
  }

  .nav-bar {
    padding: 20px 20px 0 20px;
  }

  .solutions,
  .match {
    padding: 20px 20px 40px 20px;
  }

  .header,
  .stats-bar,
  .footer {
    padding: 0 20px;
  }
}

@media (max-width: 1280px) {
  .section-image {
    width: 400px;
    height: fit-content;
  }
}

@media (max-width: 1085px) {
  .stats-bar {
    flex-wrap: wrap;
    justify-content: center;
  }

  .headerImage img {
    transition: all 0.5s ease;
    opacity: 0.1;
  }

  .section-image {
    display: none;
  }

  .solutions,
  .match {
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 980px) {
  .footer {
    justify-content: center;
  }
}

@media (max-width: 757px) {
  .title {
    font-size: 48px;
  }

  .subtitle {
    font-size: 20px;
  }
}
